@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
root {
  --color-trust-a: #fffcf6;
  --color-trust-b: #84a98c;
  --color-trust-c: #52796f;
  --color-trust-d: #354f52;
  --color-trust-e: #2f3e46;
}
@import "tailwindcss"; 

body {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}


/* 
h1 {
  font-size: 3em;
  font-weight: 600;
  color: #2f3e46;
}



.container {
  padding:0.01em 16px;
  margin: auto;
  max-width: 75%;
} */